<mat-form-field>
  <input #datePicker matInput [matDatepicker]="myDatepicker" placeholder="Date"
    onkeyup="
    var v = this.value;
    if (v.match(/^\d{2}$/) !== null) {
        this.value = v + '/';
    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
        this.value = v + '/';
    }" (keypress)="_keyPress($event)" maxlength="10">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker">
  </mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
<!-- <mat-error *ngIf="dateForm.controls.datePickerInput.errors?.required && (dateForm.controls.datePickerInput.dirty || dateForm.controls.datePickerInput.touched)">Veuillez saisir une date valide</mat-error> -->
<!-- <mat-error *ngIf="dateForm.controls.datePickerInput.errors?.validateDate && dateForm.controls.datePickerInput.dirty">La date n'est pas au format dd/mm/yyyy</mat-error> -->
</mat-form-field>