<app-button-add [routerLink]="['/filme/detalhe']"></app-button-add>
<app-search-box (searchChange)="onSearchChanged($event)"  placeholder="Localizar por nome / gênero / diretor">></app-search-box>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
    <td mat-cell *matCellDef="let filme"> {{ filme.Nome }} </td>
  </ng-container>

  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gênero </th>
    <td mat-cell *matCellDef="let filme"> {{ filme.Genero }} </td>
  </ng-container>

  <ng-container matColumnDef="lancamento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Lançamento </th>
    <td mat-cell *matCellDef="let filme"> {{ filme.Lancamento | date:"dd/MM/yyyy" }} </td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let filme">
      <button mat-icon-button color="accent" (click)="alterar(filme.Id)">
        <mat-icon class="mat-18">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="excluir">
    <th mat-header-cell *matHeaderCellDef> Excluir </th>
    <td mat-cell *matCellDef="let filme">
      <button mat-icon-button color="warn" (click)="remover(filme.Id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-paged #paged (eventPaged)=carregarFilmes($event)></app-paged>