table {
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
}

.mat-card-title {
  background: #3f51b5;
  color: white;
}

.mat-card {
  background: snow;
  color: black;
  /* color: rgba(0,0,0,.87); */
}

td {
  text-align: left;
  padding: 8px;
}

/* Fazer icone arredondado */
/* .mat-icon {
  border-radius: 100px;
  background-color: blue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */