

<app-header></app-header>

<app-loader></app-loader>

<mat-sidenav-container class="main-sidenav-container">
    <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->