@media screen and (max-width: 599px) {
    .main-sidenav-container {
        width: 100%;
        height: calc(100vh - 56px);
        z-index: 100;
    }
}

@media screen and (min-width: 600px) {
  .main-sidenav-container {
      width: 100%;
      height: calc(100vh - 64px);
  }
}