<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Login</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Usuário" formControlName="nome" required>
          <mat-error *ngIf="isFieldInvalid('nome')">
            Informe seu usuário
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Senha" formControlName="senha" required>
          <mat-error *ngIf="isFieldInvalid('senha')">
            Informe sua senha
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>