<div mat-dialog-content>
  {{message}}
 </div>
 <div mat-dialog-actions>
   <button mat-raised-button color="primary" [mat-dialog-close]="true">Sim</button>
   <button mat-raised-button color="warn" (click)="onNoClick()"cdkFocusInitial>Não</button>
 </div>