<div class="search-box">      
  <input id="searchInput" #searchInput 
    type="search" 
    ngModel="" 
    (ngModelChange)="onValueChange($event)" 
    [attr.placeholder]="placeholder" 
    class="form-control"
  >
  <a *ngIf="searchInput.value" href="javascript:;" 
    title="Clear" 
    (click)="clear()" 
    class="fa fa-times-circle clear-input right-icon">
  </a>
</div>