  
.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
}

.search-box {
    width: 150%;
    max-width: 500px;
    padding-bottom: 20px;
    margin:auto;
}

.form-control {
    box-shadow: 0 10px 10px 0 rgb(215, 217, 223);
    border-radius: 100px;
}