.example-spacer {
    flex: 1 1 auto;
  }

/* .mat-menu-content:not(:empty) {
    width: 200px;
} */

/* .mat-menu-content {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
}

.mat-menu-item {
  color: blue !important;
  width: 200px;
} */

::ng-deep .customize-menu {
    width: 180px;
    background: #3f51b5;
}

::ng-deep .customize-button{
  color: white !important;
  width: 100%;
  text-align: left !important;
}

/* mat-toolbar {
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 960px) {
  mat-toolbar {
     z-index: 50;
  }
}

@media screen and (max-width: 599px) {
  mat-toolbar {
     z-index: 0;
  }
} */