<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <div>
    <!-- <button mat-button class="companyName" routerLink="/" routerLinkActive="active">Home</button>
    <button mat-button routerLink="/filme/lista" routerLinkActive="active">Filmes</button> -->
    <button mat-button class="companyName" (click)="home()" routerLinkActive="active">Home</button>
    <button mat-button (click)="filmes()" routerLinkActive="active">Filmes</button>
    <button mat-button routerLink="login" *ngIf="!isLoggedIn">Entrar</button>
  </div>
  <span class="example-spacer"></span>
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Sair</button>
</mat-toolbar>