<app-button-back></app-button-back>

<form *ngIf="filme" [formGroup]="form" (ngSubmit)="salvar()">

  <div fxLayout="column" fxLayoutAlign="start start">
    <mat-form-field class="col-md-4">
      <input matInput placeholder="Nome" formControlName="Nome" [(ngModel)]="filme.Nome" required>
      <mat-error *ngIf="form.get('Nome').hasError('required')">Nome é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
      <input matInput placeholder="Genero" formControlName="Genero" [(ngModel)]="filme.Genero" required>
      <mat-error *ngIf="form.get('Genero').hasError('required')">Gênero é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
      <input matInput placeholder="Diretor" formControlName="Diretor" [(ngModel)]="filme.Diretor" required>
      <mat-error *ngIf="form.get('Diretor').hasError('required')">Diretor é obrigatório </mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-2">
      <input matInput [matDatepicker]="picker" placeholder="Lançamento" formControlName="Lancamento"
        [(ngModel)]="filme.Lancamento" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('Lancamento').hasError('required')">Data de Lançamento é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-md-2">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Salvar</button>
  </div>
</form>